# Environment
PORT=3000
NODE_ENV=development

# Firebase
# Set this to use the local Firestore emulator and bypass the service account key requirement
FIRESTORE_EMULATOR_HOST=localhost:8080

# Path to your Firebase service account key JSON file
FIREBASE_SERVICE_ACCOUNT_KEY=./serviceAccountKey.json
